<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h1 {
        color: #333;
        position: absolute;
        top: 20%;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2.5em;
        font-weight: bold;
    }

    form {
        background: #fff;
        padding: 20px;
        padding-right: 38px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        
    }

    textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    button {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
<body>
    <h1>Edit Item</h1>
    <form method="post" action="http://localhost:8080/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content"><%= post.content %></textarea>
        <button>Save Changes</button>
    </form>
</body>
</html>