<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h2>hii <%= 1 + 2 %> </h2>
    <%= "dhftthg".toUpperCase() %>  -->
    <h1>Your Value is <%= diceVal %></h1>
</body>
</html>