*{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
}
.div1{
    height: 120px;
    width: 125px;
    background-color: rgb(68, 246, 8);
    margin: 15px;
    border-radius: 13px;
    border: 6px solid black;
}

.div2{
    height: 120px;
    width: 125px;
    background-color: rgb(96, 96, 228);
    margin: 15px;
    border-radius: 13px;
    border: 6px solid black;
}

.div3{
    height: 120px;
    width: 125px;
    background-color: aquamarine;
    margin: 15px;
    border-radius: 13px;
    border: 6px solid black;
}

.div4{
    height: 120px;
    width: 125px;
    background-color: rgb(244, 115, 115);
    margin: 15px;
    border-radius: 13px;
    border: 6px solid black;
}

.flash{
    background-color: white;
}

.flash1{
    background-color: rgb(230, 222, 222);
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}