<div class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy; WanderLust Private Limited </div>
        <div class="f-info-links btn-info">
            <button class="btn btn-link">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeRvz9W5d8Vz1WiwnmB8BUh1Cb166Uk84MC-WvAPSPrY_jKA/viewform">Leave a Feedback!</a>
            </button>
        </div>
    </div>
</div>