*{
    margin: 0;
    padding: 0;
}

.main_box{
    background: url(photo.jpg);
    height: 100vh;
    font-family: "Handlee", cursive;
    font-weight: 800;
    font-style: normal;
}

#check{
    display: none;
}

.sidebar_menu{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.107);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.475);
}

.sidebar_menu .logo{
    position: absolute;
    height: 60px ;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.69);
}

.sidebar_menu .logo a{
    position: absolute;
    left: 75px;
    color: wheat;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu{
    position: relative;
    width: 100%;
    top: 90px;
}    

.sidebar_menu .menu i{
    margin-right: 10px;
    line-height: 69px;
    color: white;
    padding-left: 30px;
}

.sidebar_menu .menu a{
    text-decoration: none;
    color: wheat;
    font-size: 21px;

}

.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.69);

}

.social_media {
    position: absolute;
    bottom: 20px;
    left: 60px;
    
}

.social_media i{
    color: antiquewhite;
    font-size: 17px;
    margin-left: 10px;
    opacity: 0.5;
}

ul{
    list-style: none;
}

.btn_two{
    position: absolute;
    left: 260px;
    top: 15px;
    font-size: 20px;
}

.btn_one{
    color: gray;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 75px;
    opacity: 1;
    transition: opacity 4s;
}

.btn_one:hover{
    color: white;
    font-size: 34px;
    transition: color 0.9s ease-out 0s;
    transition: font-size 0.1s ease-in-out 0s;
}

.btn_two:hover{
    font-size: 25px;
    transition: font-size 0.2s ease-in-out 0s;
}

.social_media i:hover{
    opacity: 1;
    transform: scale(1.4);
    transition: 0.51s;
}

#check:checked ~ .sidebar_menu{
    left: 0;
    transition: 0.77s ease-in;
}

#check:checked ~ .btn_one{
    opacity: 0;
}

#check:not(:checked) ~ .sidebar_menu{
    left: -365px;
    transition: all 0.4s ease-in-out;
}


 







